<%- include('./partials/header.ejs')%>

      <div id="introtext">
          <h1>Welcome to WanderLust!</h1>
        
        <br>
        <h2>
        Definition:
        Wanterlust: (n.) a strong desire for or impluse to wander or travel and explore the world.
        
        <br>

        An ancient Chinese philosopher by the name of Lao Tzu once said, "A journey of a thousand miles begins with a single step".
        <br>
        Come take your first steps into this world by traveling and exploring with us!
        <br>
    </h2>
    <h3>Click on connections to find out more about our trips!</h3>
        
    </div>

<%- include('./partials/footer.ejs')%>




   
    
